[tool.poetry]
name = "pyssandra"
version = "0.11.14"
description = "Use pydantic models to create basic CQL queries."
readme = "README.md"
repository = "https://gitlab.com/mburkard/pyssandra"
homepage = "https://gitlab.com/mburkard/pyssandra"
license = "MIT"
authors = ["Matthew Burkard <matthewjburkard@gmail.com>"]
classifiers = [
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Topic :: Software Development :: Libraries",
    "Topic :: Software Development",
    "Typing :: Typed",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
]

[tool.poetry.dependencies]
python = "^3.9"
pydantic = "^1.10.4"
cassandra-driver = "^3.25.0"
case-switcher = "^1.3.4"

[tool.poetry.dev-dependencies]
pytest = "^7.2.1"
coverage = "^7.1.0"
pytest-asyncio = "^0.21.0"
mypy = "^1.0.0"

[tool.mypy]
disallow_untyped_defs = true
ignore_missing_imports = true

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
